
h2 {
    border-bottom: 2px solid #99BBE8;
    cursor: pointer;
    padding-top: 6px;
    width:100%;
}

#abstractContent h2 div {
    background: url("group-expand-sprite.gif") no-repeat scroll 3px -47px transparent;
    color: #3764A0;
    font: bold 11px Helvetica,Arial,sans-serif;
    padding: 4px 4px 4px 17px;
}


#abstractContent.collapsed dl {
    display: none;
}

.inputFieldWithoutBorder{
border-style: none;
background-color: white;
color: black;
font-weight: bold;
padding-left: 2px;
}



.contentPaneText{
    min-width:10px;
}

#abstractContent span{
    padding-left: 2px;
}
.contentPaneTextEmpty{
    border-bottom: 1px red dotted;
    color: #6f6f6f;
}

.dataToBeEnteredDirectly{
    border-bottom: 1px solid red;
}

.contentPaneAreaContainer {
    /*border-bottom: 1px solid #CCCCCC;*/
    float: left;
    overflow: hidden;
    width: 100%;
}

.contentPaneAreaLeftColumn{

    border-left: 1px solid #CCCCCC;
    margin-bottom: -20000px;
    padding-bottom: 20010px;
    width: 20%;
    min-width: 100px;
}


.contentPaneAreaRightColumn{
    border-left: 1px solid #CCCCCC;
    margin-bottom: -20000px;
    padding-bottom: 20010px;
    width: 80%;   
}

.contentPaneTitleContainer{
    padding: 10px 0 0;
    width:100%;
    border-top:1px solid #CCCCCC;
}

.whiteBackground{
    background-color: #ffffff !important;
}