[submodule "sparks/waveform/1.0.0"]
	path = sparks/waveform/1.0.0
	url = git@github.com:hash-bang/Spark-Waveform.git
[submodule "lib/shoelace"]
	path = lib/shoelace
	url = https://github.com/hash-bang/Shoelace.git
[submodule "sparks/pherl/1.0.0"]
	path = sparks/pherl/1.0.0
	url = git@github.com:hash-bang/Spark-Pherl.git
[submodule "sparks/urlopts/1.0.0"]
	path = sparks/urlopts/1.0.0
	url = git@github.com:hash-bang/Spark-URLopts.git
